<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-6 text-center">Register</h2>
        <form action="/user/register" method="post" novalidate id="registerForm" class="space-y-4">
            <div>
                <label for="username" class="block mb-1">Username</label>
                <input type="text" id="username" name="username"
                    value="<%=username%>"
                    class="w-full border-gray-300 rounded-md">
            </div>
            <div>
                <label for="password" class="block mb-1">Password</label>
                <input type="password" id="password" name="password"
                    value="<%=password %>"
                    class="w-full border-gray-300 rounded-md">
            </div>
            <% if(errors != null && errors.length > 0){ for(let i=0; i<errors.length;i++){ %>
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <%= errors[i] %>
                </div>
                <% } } %>
                    <button type="submit"
                        class="w-full bg-green-500 text-white py-2 rounded-md hover:bg-green-600 transition-colors duration-300">Register</button>
        </form>
    </div>
</body>

</html>