<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <!-- Include Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    
</head>

<body class="bg-gray-50">

    <header>
        <nav class="bg-[#d3cbe7] border-gray-200 px-4 lg:px-6 py-2.5">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <a href="/" class="flex items-center">
                    <img src="/static/assets/uploads/tuktuk.png" class="mr-3 h-6 sm:h-9" />
                    <span
                        class="text-[#37294c] self-center text-xl font-bold whitespace-nowrap">TukTuk</span>
                </a>

                <!-- upload button -->
                <a href="/upload"
                    class="text-white bg-[#8e70b7] hover:bg-[#7d5da4] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2">Upload</a>
                                    
            
                <form id="searchForm" class="flex items-center">
                    <input id="searchInput" type="text"
                        class="w-96 h-10 px-4 text-sm text-gray-800 border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#8e70b7] focus:border-transparent"
                        placeholder="Search for an images" />
                </form>
                <div class="flex items-center lg:order-2">

                    <% if(loggedIn) { %>
                        <a href="/logout"
                            class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2">Log
                            out</a>
                        <% } if(!loggedIn) { %>
                            <a href="/login"
                                class="text-white bg-[#8e70b7] hover:bg-[#7d5da4] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2">Log
                                in</a>
                            <% } %>
                                <button data-collapse-toggle="mobile-menu-2" type="button"
                                    class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                                    aria-controls="mobile-menu-2" aria-expanded="false">
                                    <span class="sr-only">Open main menu</span>
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                </div>
            </div>
        </nav>
    </header>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const key = document.getElementById('searchInput').value.trim();

            if (key.length === 0) {
                Swal.fire("Please enter Tag/Keyword for Images");
                return;
            }else{
                window.location.href = `/search/${encodeURIComponent(key)}`;
            }
        });
    </script>

    <section class="mt-4">
        <div class="flex flex-col items-center h-96 px-24 mb-20">
            <!-- <h1 class="text-4xl font-bold text-gray-800 mb-7">Trending
                Images</h1> -->
            <div class="grid grid-cols-3 gap-4" id="card-grid">
                <% data.forEach(function(image) { %>
                <div id="warp">
                    <a href="/search/<%= image.tags %>">
                    <img
                        src="<%= image.filepath.replace('/resources', '') %>"
                        alt="<%= image.description %>"
                        class="max-w-full rounded-lg object-cover h-52 w-96"
                        id="img">
                    </a>
                </div>
                <% }); %>
            </div>
        </div>
    </section>
    
</body>

</html>